 {% extends 'Turnos/turnos.html' %}
 {% block Lista %}
{% load static %}
 <div class="container filtroDiv">
     
        <table cellspacing="0">
            <thead>
                <tr class="topLista">
                    <th>Fecha</th>
                    <th>Hora Inicio</th>
                    <th>Hora Fin</th>
                    <th>Asignado a</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody class="tbodyTurnos">
                {% for turno in horaInicio %}
                <tr>
                    <td>{{ turno.fecha }}</td>
                    <td>{{ turno.hora_inicio }}</td>
                    <td>{{ turno.hora_fin }}</td>
                    {% if turno.asignado_a %}
                    <td>{{ turno.asignado_a.username}}</td>
                    {% else %}
                    <td>Disponible</td>
                    {% endif %}
                    
                    <td>
           
                            {% if contador >= 1 %}
                            {% if not turno.activo and turno.asignado_a.username == user.username%}
                            <a class="btn-red"href="{% url 'Eliminar' turno.id %}">Eliminar Reserva</a>
                            {% endif %}
                            {% else %}
                            {% if turno.activo %}
                            <a class="btn"  href="{% url 'Asignar' turno.id %}">Reservar</a>
                            {% endif %}
                            {% endif %}
                            
                   
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No hay turnos disponibles</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock Lista %}
    