
<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'Turnos/css/style.css'%}">
    <title>Document</title>
</head>
<body>
    
    <h1>Sistema de turnos</h1>
   


 <div class="dia">
    <div class="semana">
        <p>L</p>
        <p>M</p>
        <p>Mi</p>
        <p>J</p>
        <p>V</p>
        <p>S</p>
        <p>D</p>
    </div>
    <div class="primero">
        <a class="0" href="{%url 'dia0' %}">{{datos.0.dia}}</a>
        <a class="1" href="{%url 'dia1' %}">{{datos.1.dia}}</a>
        <a class="2" href="{%url 'dia2' %}">{{datos.2.dia}}</a>
        <a class="3" href="{%url 'dia3' %}">{{datos.3.dia}}</a>
        <a class="4" href="{%url 'dia4' %}">{{datos.4.dia}}</a>
        <a class="5" href="{%url 'dia5' %}">{{datos.5.dia}}</a>
        <a class="6" href="{%url 'dia6' %}">{{datos.6.dia}}</a>
        
    </div>
    <div class="segundo">
        <a class="7" href="{%url 'dia7' %}">{{datos.7.dia}}</a>
        <a class="8" href="{%url 'dia8' %}">{{datos.8.dia}}</a>
        <a class="9" href="{%url 'dia9' %}">{{datos.9.dia}}</a>
        <a class="10" href="{%url 'dia10' %}">{{datos.10.dia}}</a>
        <a class="11" href="{%url 'dia11' %}">{{datos.11.dia}}</a>
        <a class="12" href="{%url 'dia12' %}">{{datos.12.dia}}</a>
        <a class="13" href="{%url 'dia13' %}">{{datos.13.dia}}</a>
        
    </div>
    <div class="tercero">
        <a class="14" href="{%url 'dia14' %}">{{datos.14.dia}}</a>
        <a class="15" href="{%url 'dia15' %}">{{datos.15.dia}}</a>
        <a class="16" href="{%url 'dia16' %}">{{datos.16.dia}}</a>
        <a class="17" href="{%url 'dia17' %}">{{datos.17.dia}}</a>
        <a class="18" href="{%url 'dia18' %}">{{datos.18.dia}}</a>
        <a class="19" href="{%url 'dia19' %}">{{datos.19.dia}}</a>
        <a class="20" href="{%url 'dia20' %}">{{datos.20.dia}}</a>
        <a class="21" href="{%url 'dia21' %}">{{datos.21.dia}}</a>

    </div>
<div class="cuarto">
    <a class="22" href="{%url 'dia22' %}">{{datos.22.dia}}</a>
    <a class="23" href="{%url 'dia23' %}">{{datos.23.dia}}</a>
    <a class="24" href="{%url 'dia24' %}">{{datos.24.dia}}</a>
    <a class="25" href="{%url 'dia25' %}">{{datos.25.dia}}</a>
    <a class="26" href="{%url 'dia26' %}">{{datos.26.dia}}</a>
    <a class="27" href="{%url 'dia27' %}">{{datos.27.dia}}</a>
    <a class="28" href="{%url 'dia28' %}">{{datos.28.dia}}</a>
    <a class="29" href="{%url 'dia29' %}">{{datos.29.dia}}</a>
</div>
    </div> 
<br>
    {% block Cuerpo %}
    {% endblock %}
</body>
</html>