{%extends 'Turnos/index.html'%}
{%load static%}
{% block Cuerpo %}
<p>Turnos disponibles</p>
<p>dia : {{context.0.dia}}</p>
<a href="{%url 'Borrar' context0.id %}">Borrar</a>
<p>Horario: <a href="">{{context0.hora1}}</a></p>
<p>Horario: <a href="">{{context0.hora2}}</a></p>
<p>Horario: <a href="">{{context0.hora3}}</a></p>
<p>Horario: <a href="">{{context0.hora4}}</a></p>
<a href="{%url 'Inicio'%}">Volver</a>
<script src="{%static 'Turnos/js/codigo.js'%}"></script>
{% endblock %}
 cambiemos una sola cosa