@import url('https://rsms.me/inter/inter-ui.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

::selection {
  background: #2D2F36;
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}
body {
  background: #474A59;/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
  font-family: 'Inter UI', sans-serif;

}
.page {
  height: 100vh;
    background: linear-gradient(
        135deg,
        #ffcf1b,
        #ff8b1b
    );
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  place-content: center;
  width: 100%;
}
@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.container {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.text{
    font-size: 40px;
    margin: 50px 40px 40px;
    font-weight: 800;
    outline: none;
    text-transform: uppercase;
    background: linear-gradient(135deg, #ffd51b 0%, #ffd51b 25%, #e94f4f 50%, #ce4242 75%, #ffd51b 100%);
    /* #222020, #ce4242 */
    background-size: 400%;
    -webkit-background-clip: text;
    background-clip: nill;
    -webkit-text-fill-color: transparent; 
    animation: animate 10s linear infinite;
  }
  @keyframes animate {
    to{
      background-position: 400%;
    }
  }
.eula {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
}
.right {
  background: #252424;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
svg {
  position: absolute;
  width: 320px;
}
path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  margin: 40px;
  position: absolute;
}
label {
  color:  #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: transparent;
  border: 0;
  color: #b5b5c6;
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  /* outline: double; */
  width: 100%;
}
input::-moz-focus-inner { 
  border: 0; 
}
#submit {
  color: #707075;
  margin-top: 40px;
  transition: color 300ms;
}
#submit:focus {
  color: #f2f2f2;
}
#submit:active {
  color: #d0d0d2;
}

/* TEST 1 */
.sign-in-container {
	left: 50;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}
button {
	border-radius: 30px;
	border: 5px solid #ffd51b;
	background-color: #ffd51b;
	color: #fbfbfb;
	font-size: 12px;
	font-weight: bold;
	padding: 3px 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  Box-Shadow: -10px 20px 50px #4b4b4be3,10px 20px 50px #323132d7 ;

}
.form-container {
	position: absolute;
	top: 185px;
	height: 10%;
	transition: all 0.6s ease-in-out;
}
.sign-in-container {
	left: 74px;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}
button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #ffffff;
}



.login{
    background-color: black;
    width: 600px;
    height: 500px;
    display: flex;
    text-align: center;
}