*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.dia{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px 15px 25px 15px;
    text-align: center;
    flex-direction: column;
    width: 250px;
    background-color: black;
    color: white;
    z-index: 200;
}
.dia a{
    color: white;
    text-decoration: none;
}

.primero{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.primero a{
    text-decoration: none;
    margin-left: 20px;
}
.segundo{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.cuarto{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.tercero{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
/* .segundo a{
    margin-left: 15px;
}
.tercero a{
    margin-left: 15px;
}
.cuarto a{
    margin-left: 15px;
} */
.semana{
    display: flex;
    justify-content: space-between;
    background-color: grey;
}
.semana p{
    margin: 0 auto;

}
h1{
    margin-bottom: 50px;
    text-align: center;
    font-size: 80px;
}
h2{
    margin-bottom: 30px;
}
li{
    display: flex;
    flex-direction: column;
    width: 300px;
    list-style: none;
}
.container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
tbody td{
    padding: 10px 40px;
}
.btn{
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    background-color: rgb(25, 98, 255);

}

.btn-red{
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    background-color: rgb(255, 72, 16);

}
.flex{
    border: 50px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
a:active {
    background-color: #ff0000;
  }
.cancelar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    padding: 20px 20px;
    text-align: center;
    height: 300px;
    border-radius: 20px;
    background-color: #ffc600;
    box-shadow: 10px 10px 42px -13px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 42px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 42px -13px rgba(0,0,0,0.75);
}

.btn-margin{
    margin-top: 15px;
}

table{
    border: 1px solid black;
    border-radius: 5px;
}

.topLista{
    padding: 5px 0;
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    text-align: left;

}

.flex ul{
    display: flex;
    flex-direction: row;

}
ul li{
    width: 200px;
}
.tabla{
    width: 800px;
}
.filtroDiv th{
    padding-left: 5px;
}
tr:nth-child(2), tr:nth-child(4){
    background-color: rgb(238, 238, 238);
}


.form2{

    display: flex;
    width: 350px;

    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: #252424;
    box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
    color: #F1F1F2;
}

ul label{
    color: white;
}
ul input{
    background-color: #252424;
    outline: white;
    color: white;
    padding: 7px;
    margin-bottom: 30px;
}
ul input:focus{
    border: 1px solid white;
    border-radius: 5px;
  
}

.botonEntrar{
    margin-top: 20px;
}

.login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.alter{
    width: 800px;
    margin: 0 auto;
    padding-top: 30px;
    height: 100vh;
    background-color: #f1f1f1;
}

.form3{
    display: flex;
    background-color: #252424;
    color: white;
    flex-wrap: wrap;
    width: 200px;
    height: 400px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
}
.botonCrearUsuario{
    margin-top: 30px;
}